.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: black !important;

}


.test {
  color: #98ff7e;
  color: #88d376;
  color: #88d376;
  color: #d4d4d4;

  color: #5492a5
}

